/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text),'wdth' 0,'opsz' 0;
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);
  background-image:
    repeating-linear-gradient(to right, var(--color-gradient-start) 0 2px, var(--color-gradient-end)  2px 4px),
    repeating-linear-gradient(to bottom, var(--color-gradient-start) 0 2px, var(--color-gradient-end) 2px 4px),
    linear-gradient(var(--color-gradient-vertical-start) 0.01% , var(--color-gradient-vertical-end) 100%);
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 100px;
}

.header {
  background-color: var(--bg-color, #fff);
  font-family: var(--accent-font-family, fantasy);
  border: 2px solid var(--accent-color, #000);
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding-block-end: 25px;
  margin-block-end: 100px;
}

.adaptiv-size {
  inline-size: var(--inline-size, clamp(375px, 100%, 700px));
}

.header-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  padding-inline: clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-variation-settings: "wght" var(--font-weight-title),'wdth' 0,'opsz' 0;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: start;
  align-items: start;
  padding-inline-start: clamp(9.625rem, 15.117vw + 6.082rem, 19.688rem);
  padding-inline-end: clamp(8.313rem, 15.399vw + 4.703rem, 18.563rem);
}

.theme-menu__button {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;
  padding: 0;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: -25px;
  animation: disabled 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -5px;
  border-block-end: 2px solid var(--accent-color, #000);
  transform: scaleX(0);
  inline-size: 100%;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  font-family: var(--main-font-family, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.content-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content-card-list-item {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color,#fff);
}

.card-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title),'wdth' 0,'opsz' 0;
  padding: 4px 10px;
  line-height: 22px;
}

@media (width >=768px) {
  .card-title {
    padding: 4px 10px;
  }
}

.image-wrapper {
  position: relative;
  border-block: 2px solid var(--accent-color, #000);
}

.card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.img-label {
  font-family: var(--accent-font-family, fantasy);
  position: absolute;
  inset-inline-end: 13px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  font-size: 14px;
  opacity: 0.5;
  color: var(--accent-color, #000);
  text-shadow:
    -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff),
    1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
  z-index: 1;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .img-label {
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
    text-shadow: none;
  }
}

@media (width >=1440px) {
  .img-label {
    inset-inline-end: 25px;
    inset-block-start: 33px;
  }
}

.img-filter-contrast {
  filter: contrast(160%);
}

.img-filter-grayscale {
  filter: grayscale(0.7);
}

.img-filter_saturate {
  filter: saturate(250%);
}

.img-filter_hue-rotate {
  filter: hue-rotate(30deg);
}

.img-filter_invert {
  filter: invert(0.8);
}

.img-filter_sepia {
  filter: sepia(90%);
}

.img-filter_blur {
  filter: blur(10px);
}

.img-filter_mix {
  filter: hue-rotate(90deg) contrast(0.5);
}

.card-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 117%;
}

.button-group {
  display: flex;
  justify-content: end;
  gap: 2px;
  margin: 0 25px 25px;
  max-block-size: 38px;
}

.button {
  border: 2px solid var(--accent-color, #000);
  font-size: 14px;
  font-family: var(--accent-font-family, fantasy);
  text-align: center;
}

.card-button {
  min-inline-size: 130px;
  position: relative;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
}

.card-button:focus {
  outline: none;
}

.card-button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color, #000);
}

.card-button::before {
  content: "";
  position: absolute;
  display: block;
  inset-inline-start: 0;
  inset-block-end: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card-button:hover::before {
  transform: scaleX(1);
}

.card-button:hover {
  cursor: pointer;
}

.button__text {
  position: relative;
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.card__icon-button {
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
  outline-offset: -2px;

}

.sparks {
  opacity: 0;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body,
.card__icon-button:active .core {
  fill: var(--color-icon-body, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--color-icon-body, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-icon-body, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: icon-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon .contour {
  fill: var(--accent-color, #000);
  transition: fill 0.1s linear;
}

.button-block {
  background-color: var(--bg-color, #fff);
  font-size: 14px;
  line-height: 90%;
}

.button-footer {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-block: 15px;
  padding-inline: 21px 19px;
}

@media (width <= 375px) {
  .button-footer {
    flex-direction: column;
    padding-inline: 20.5px;
  }
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--mix-blend-color, #fff);
  mix-blend-mode: difference;
}

@media (width <=375px) {
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}

.modal {
  text-transform: uppercase;
  font-family: var(--accent-font-family, fantasy);
  color: var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
  font-size: 14px;
  line-height: 150%;
  padding: 30px 40px;
  border: 2px solid var(--accent-color,#000);
  max-inline-size: 341px;
}

@media (width >= 1440px) {
  .modal {
    max-inline-size: 353px;
    padding: 30px;
  }
}

.modal:has([open]) {
  display: flex;
  flex-direction: column;
}

.modal-floppy {
  inline-size: 39px;
  block-size: 39px;
}

.modal-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.button-modal {
  inline-size: 100%;
  padding-block: 12.5px;
  margin-block-start: 30px;
}

.button-modal:focus {
  outline: none;
}

.button-modal:focus-visible {
  outline: 2px solid var(--accent-color, #000);
}

.button-modal:hover {
  cursor: pointer;
}

.modal-button_text {
  text-transform: uppercase;
}

.modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}