/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --accent-font-family: PressStart;
    --main-font-family: Inter-Variable;
    --font-weight-title: 700;
    --font-weight-text: 400;
    --bg-color:#FFFFFF;
    --accent-color: #000;
    --text-stroke-color: #fff;
    --button-color: #fff;
    --icon-accent-color: #000;
    --mix-blend-color: #fff;
    --color-gradient-start:#d3d3d3;
    --color-gradient-end:rgba(0,0,0,0);
    --color-gradient-vertical-start:#e7e7e7;
    --color-gradient-vertical-end: #1a1a1a;

}

:root.theme-dark {
    --accent-font-family: PressStart;
    --main-font-family: Inter-Variable;
    --font-weight-title: 785;
    --font-weight-text: 465;
    --bg-color:#000;
    --accent-color: #00CC14;
    --text-stroke-color: #00CC14;
    --button-color: #00CC14;
    --icon-accent-color: #00CC14;
    --mix-blend-color: #00CC14;
    --color-gradient-start:#000 ;
    --color-gradient-end:rgba(0,0,0,0);
    --color-gradient-vertical-start:#007f0c;
    --color-gradient-vertical-end: #004306;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent-font-family: PressStart;
        --main-font-family: Inter-Variable;
        --font-weight-title: 785;
        --font-weight-text: 465;
        --bg-color:#000;
        --accent-color: #00CC14;
        --text-stroke-color: #00CC14;
        --button-color: #00CC14;
        --icon-accent-color: #00CC14;
        --mix-blend-color: #00CC14;
        --color-gradient-start:#000 ;
        --color-gradient-end:rgba(0,0,0,0);
        --color-gradient-vertical-start:#007f0c;
        --color-gradient-vertical-end: #004306;
    }
    
}
