/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --accent-font-family: PressStart;
    --main-font-family: Inter-Variable;
    --font-weight-title: 700;
    --font-weight-text: 400;
    --bg-color:#fff;
    --accent-color: #000;
    --text-stroke-color: #fff;
    --button-color: #fff;
    --inline-size: clamp(375px, 100%, 700px);
    --icon-accent-color: #000;
    --color-icon-body: #ff0000;
    --color-gradient-start:#d3d3d3;
    --color-gradient-end:rgba(0,0,0,0);
    --color-gradient-vertical-start:#e7e7e7;
    --color-gradient-vertical-end: #1a1a1a;
}


